{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>

	<title>{% block title %}Músicas para Missa{% endblock %}</title>

	{% include 'header.html' %}

</head>

<body class="body-nav-fixed">
	<div class="wrapper-body">

		{% include 'navbar.html' %}

		{% include 'email-header.html' %}

    {% include 'banner-top.html' %}

    <!-- GRIDS -->
    <!--===============================================================-->
    <div class="container">
			<div class="row">

			  <!-- GRID CONTENT -->
			  <!--===============================================================-->
			  <div class="col-sm-8 grid-posts">
			    <!-- POST ITEM 1 -->
			    <div class="row">
			      <div class="col-sm-12">
			          <div class="wrapper-post">
			            <div class="wrapper-post-text">
			            {% block content %}
			            {% endblock %}
			          </div>
			        </div>
			      </div>
			    </div>
			    </div>
			  <!-- GRID POSTS END -->
			  <!--===============================================================-->


				{% include 'sidebar.html' %}


			</div>
		</div>

	</div>


  {% include 'footer.html' %}

</body>
