<!DOCTYPE html>
<html lang="en">
<head>
  {% load staticfiles %}

  <title>{{ musica.nome }} - Músicas para Missa</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script


</head>
<body>

cabeçalho

            {% block content %}
            {% endblock %}

rodapé

</body>