{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>

	<title>{% block title %}Músicas para Missa{% endblock %}</title>

	{% include 'header.html' %}

</head>

<body class="body-nav-fixed-menu-top">
  <div class="wrapper-body">


		{% include 'navbar.html' %}

    {% block content %}
    {% endblock %}

			          </div>
			        </div>
			      </div>
			    </div>
			    </div>
			  <!-- GRID POSTS END -->
			  <!--===============================================================-->


				{% include 'sidebar.html' %}


			</div>
		</div>

	</div>

	{% include 'footer.html' %}

	{% block js-import %}{% endblock %}

</body>
