
    <!-- HEADING -->
    <!--===============================================================-->
    <div class="section-heading-page">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-md-3" style="padding-top: 8px;">
            <h1 class="heading-page text-center-xs">Músicas por e-mail?</h1>
          </div>
          <form action="http://mail.gustavofurtado.com.br/subscribe" method="POST" id="sugestoes-subscription">
            <input type="hidden" name="list" value="JbGmTEEDc0JKcDmFiosVAQ"/>
            <div class="col-sm-4 col-md-3">
              <input type="text" class="form-control input-lg" name="name" required="required" id="name" placeholder="Primeiro Nome">
            </div>
            <div class="col-sm-4 col-md-3">
              <input type="email" class="form-control input-lg" name="email" required="required" id="email" placeholder="E-mail">
            </div>
            <div class="col-sm-4 col-md-3">
              <button type="submit" class="btn btn-primary input-lg btn-z-index" form="sugestoes-subscription" value="Submit"><i class="fa fa-paper-plane"></i>Quero receber as sugestões</button>
            </div>
          </form>
        </div>
      </div>
    </div>
