{% load staticfiles %}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'assets/js/jquery-1.12.4.min.js' %}"></script>
<script async src="{% static 'js/bootstrap.min.js' %}"></script>

<script async src="{% static 'js/search.min.js' %}"></script>
<script async src="{% static 'assets/js/page/carousel-preload.min.js' %}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script async src="{% static 'assets/js/page/page.navbar-fixed-shrinked.min.js' %}"></script>
<script async src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<script async src="{% static 'assets/js/jquery.waypoints.js' %}"></script>
<script async src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
<script async src="{% static 'assets/js/jquery.countTo.min.js' %}"></script>
<script async src="{% static 'assets/js/page/theme.min.js' %}"></script>
<script async src="{% static 'assets/js/page/page.home.js' %}"></script>
<!-- Calendário -->
<script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
<script async src="{% static 'locale/bootstrap-datepicker.pt-BR.js' %}"></script>
<script async src="{% static 'js/calendar.min_1.2.js' %}"></script>

<script type="text/javascript" src="https://s3-sa-east-1.amazonaws.com/radiofacil-assets/compressed/players/rf-player.js?_t=c030c65039ddff7631683acfdaced3b8"></script>
<script type="text/javascript" src="https://s3-sa-east-1.amazonaws.com/radiofacil-assets/compressed/players/player-20160913.js?_t=c030c65039ddff7631683acfdaced3b8"></script>

<script src="{% static 'js/star_ratings_complement.min.js' %}"></script>
<script src="{% static 'js/star_ratings.min.js' %}"></script>
