{% load staticfiles %}

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{% static 'assets/js/page/page.navbar-fixed-shrinked.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/js/owl.carousel.js' %}"></script>
  <script src="{% static 'assets/js/jquery.magnific-popup.js' %}"></script>
  <script src="{% static 'assets/js/jquery.waypoints.js' %}"></script>
  <script src="{% static 'assets/js/jquery.countTo.js' %}"></script>
  <script src="{% static 'assets/js/page/theme.js' %}"></script>
  <script src="{% static 'assets/js/page/page.home.js' %}"></script>
  <!-- Calendário -->
  <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'locale/bootstrap-datepicker.pt-BR.min.js' %}"></script>

  <script src="{% static 'js/star_ratings_complement.js' %}"></script>
  <script src="{% static 'js/star_ratings.min.js' %}"></script>

  <script>

  var calendarOptions = {
    language: "pt-BR",
    todayHighlight: true
  };

  $(document).ready(function() {
    $('#calendar-navbar').datepicker(calendarOptions);
    $('#calendar').datepicker(calendarOptions);
    $('#calendar-footer').datepicker(calendarOptions);
  });
  </script>
