{% extends 'base.html' %}


{% block content %}


{% if categoria.categoria_mae %}
<h1><a href="{% url 'musicas-de' categoria.categoria_mae.slug %}">{{ categoria.categoria_mae.nome }}</a><h1>
{% endif %}

<h2 class="title-sm text-uppercase hr-left text-theme">{{ categoria.nome }}</h2>

<ul>
{% for filha in categoria.get_filhas %}
    <h4><li><a href="{% url 'musicas-de' filha.slug %}">{{ filha.nome }}</a></li></h4>
{% endfor %}
</ul>

{% if not categoria.get_filhas %}
<!--<h2>Músicas</h2>-->

<ul>
{% for musica in categoria.get_musicas %}

    <div class="star-ratings top-right rgt">
      <div class="sr-stars sr-star gray">
        <div class="sr-fuel sr-star yellow" style="width:{{ musica.get_formated_rating }}%;"></div>
        <!-- sr-fuel --><a href="#1"></a><a href="#2"></a><a href="#3"></a><a href="#4"></a><a href="#5"></a>
      </div>
    </div>

    <a href="{% url 'musica' musica.slug %}">
      <h4><li>{{ musica.nome }}</li></h4>
    {% autoescape off %}
    <p>{{ musica.get_inicio }}</p>
    {% endautoescape %}
    </a>
{% endfor %}
</ul>

{% endif %}


{% include 'banner-bottom.html' %}


{% endblock %}
