{% extends 'base.html' %}


{% block content %}


{% if categoria.categoria_mae %}
<h1><a href="{% url 'musicas-de' categoria.categoria_mae.slug %}">{{ categoria.categoria_mae.nome }}</a><h1>
{% endif %}

<h2 class="title-sm text-uppercase hr-left text-theme">{{ categoria.nome }}</h2>

<ul>
{% for filha in categoria.get_filhas %}
    <h4><li><a href="{% url 'musicas-de' filha.slug %}">{{ filha.nome }}</a></li></h4>
{% endfor %}
</ul>

{% if not categoria.get_filhas %}
<!--<h2>Músicas</h2>-->

<ul>
{% for musica in categoria.get_musicas %}
    <h4><li><a href="{% url 'musica' musica.slug %}">{{ musica.nome }}</a></li></h4>
{% endfor %}
</ul>

{% endif %}


{% include 'banner-bottom.html' %}


{% endblock %}
