{% load staticfiles %}
<!-- NAVBAR -->
    <!--===============================================================-->
    <div id="header">
      <nav id="nav" class="navbar navbar-default navbar-fixed-top">

        {% include 'player.html' %}

        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img class="img-responsive" src="{% static 'images/logo/logoMpM-300x223.png' %}" alt="theme-img"></a>
          </div>


          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
            <!-- TEMPOS LITÚRGICOS -->
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Tempos Litúrgicos</a>
                <ul class="dropdown-menu dropdown-menu-left" role="menu">
                {% for categoria in tempos %}
                  {% if categoria.get_filhas %}
                    <li class="dropdown-submenu">
                    <a href="{% url 'musicas-de' categoria.slug %}">{{ categoria.nome }}</a>
                    <ul class="dropdown-menu" role="menu">
                      {% for categoria_sub1 in categoria.get_filhas %}
                        <li><a href="{% url 'musicas-de' categoria_sub1.slug %}">{{ categoria_sub1.nome }}</a></li>
                      {% endfor %}
                    </ul>
                  </li>
                  {% else %}
                  <li><a href="{% url 'musicas-de' categoria.slug %}">{{ categoria.nome }}</a></li>
                  {% endif %}
                {% endfor %}
                </ul>
              </li>

              <!-- SUGESTÕES ESPECIAIS -->
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sugestões especiais</a>
                <ul class="dropdown-menu dropdown-menu-left" role="menu">
                {% for categoria in especiais %}
                  {% if categoria.get_filhas %}
                    <li class="dropdown-submenu">
                    <a href="{% url 'musicas-de' categoria.slug %}">{{ categoria.nome }}</a>
                    <ul class="dropdown-menu" role="menu">
                      {% for categoria_sub1 in categoria.get_filhas %}
                        <li><a href="{% url 'musicas-de' categoria_sub1.slug %}">{{ categoria_sub1.nome }}</a></li>
                      {% endfor %}
                    </ul>
                  </li>
                  {% else %}
                  <li><a href="{% url 'musicas-de' categoria.slug %}">{{ categoria.nome }}</a></li>
                  {% endif %}
                {% endfor %}
                </ul>
              </li>

              <!-- SUGESTÕES POR DATA -->
              <li class="li-mega-menu dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                  Qual o dia da missa?
                </a>
                <div class="wrapper-mega-menu v2 stop-prop" role="menu">
                  <div class="mega-menu">
                    <div class="container">
                      <div class="wrapper-row">
                        <div class="row">
                          <div class="col-sm-3 col-md-3">
                            <h3 class="title-sm hr-full">Escolha o dia da missa</h3>
                            <center><div id="calendar-navbar"></div></center>
                          </div>
                          <div class="col-sm-3 col-md-9">
                            <h3 class="title-sm hr-full">Missas em destaque</h3>
                            <div class="row">
                              <div class="col-md-4">
                                <div class="text-theme">
                                  <a href="{{destaques.0.liturgia.get_absolute_url }}"><img class="img-responsive" src="{{ destaques.0.liturgia.img}}" alt="theme-img"></a>
                                  <a href="{{destaques.0.liturgia.get_absolute_url }}" class="category">{{ destaques.0.liturgia.titulo }}</a>
                                  <p class="meta hidden-md hidden-sm">{{ destaques.0.data }}</p>
                                </div>
                              </div>
                              <div class="col-md-4">
                                {% if destaques.1 %}
                                <div class="post-xs-side">
                                  <a href="{{destaques.1.liturgia.get_absolute_url }}"><img class="img-responsive" src="{{ destaques.1.liturgia.img}}" alt="theme-img"></a>
                                    <a href="{{destaques.1.liturgia.get_absolute_url }}" class="category">{{ destaques.1.liturgia.titulo }}</a>
                                    <p class="meta hidden-md hidden-sm">{{ destaques.1.data }}</p>
                                </div>
                                {% endif %}
                                {% if destaques.2 %}
                                <div class="post-xs-side">
                                  <a href="{{destaques.2.liturgia.get_absolute_url }}"><img class="img-responsive" src="{{ destaques.2.liturgia.img}}" alt="theme-img"></a>
                                    <a href="{{destaques.2.liturgia.get_absolute_url }}" class="category">{{ destaques.2.liturgia.titulo }}</a>
                                    <p class="meta hidden-md hidden-sm">{{ destaques.2.data }}</p>
                                </div>
                                {% endif %}
                              </div>
                              <div class="col-md-4">
                                {% if destaques.3 %}
                                <div class="post-xs-side">
                                  <a href="{{destaques.3.liturgia.get_absolute_url }}"><img class="img-responsive" src="{{ destaques.3.liturgia.img}}" alt="theme-img"></a>
                                    <a href="{{destaques.3.liturgia.get_absolute_url }}" class="category">{{ destaques.3.liturgia.titulo }}</a>
                                    <p class="meta hidden-md hidden-sm">{{ destaques.3.data }}</p>
                                </div>
                                {% endif %}
                                {% if destaques.4 %}
                                <div class="post-xs-side">
                                  <a href="{{destaques.4.liturgia.get_absolute_url }}"><img class="img-responsive" src="{{ destaques.4.liturgia.img}}" alt="theme-img"></a>
                                    <a href="{{destaques.4.liturgia.get_absolute_url }}" class="category">{{ destaques.4.liturgia.titulo }}</a>
                                    <p class="meta hidden-md hidden-sm">{{ destaques.4.data }}</p>
                                </div>
                                {% endif %}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>




              <!-- BLOG -->
              <!--<li class="dropdown dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Blog</a>
                <ul class="dropdown-menu dropdown-menu-left" role="menu">
                    BLOG
                </ul>
              </li>-->


              <li class="li-search">
                <script>
(function() {
var cx = '015019343761254316434:icocp0vwhke';
var gcse = document.createElement('script');
gcse.type = 'text/javascript';
gcse.async = true;
gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(gcse, s);
})();
                </script>
                <div style="width:0px;overflow:hidden;height:0px;"> <!-- if you use display:none here, it doesn't work-->
                    <gcse:searchbox-only resultsUrl="YOUR_RESULTS_PAGE_URL"></gcse:searchbox-only>
                </div>
                <form id="searchbox_015019343761254316434:icocp0vwhke" class="nav-search" action="/search">
                    <label for="focus-input"><i class="fa fa-search"></i></label>
                    <input value="015019343761254316434:icocp0vwhke" name="cx" type="hidden"/>
                    <input value="FORID:11" name="cof" type="hidden"/>
                    <input id="focus-input" class="container" name="q" size="75" type="search" placeholder="Digite o que procura e tecle ENTER!"/>
                </form>

                <!--<form class="nav-search" action="/search">
                  <label for="focus-input"><i class="fa fa-search"></i></label>
                  <input id="focus-input" class="container" type="search" name="q" placeholder="Digite o que procura e tecle ENTER!">
                  <input type="hiden" value="015019343761254316434:icocp0vwhke">
                </form>-->
              </li>

            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
    </div>
    <!-- NAVBAR END -->
