{% load staticfiles %}
<!-- NAVBAR -->
    <!--===============================================================-->
    <div id="header">
      <nav id="nav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img class="img-responsive" src="{% static 'images/logo/logoMpM-300x223.png' %}" alt="theme-img"></a>
          </div>

          <div id="navbar" class="navbar-collapse collapse">

            <ul class="nav navbar-nav navbar-right">

              <!-- TEMPOS LITÚRGICOS -->
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Tempos Litúrgicos</a>
                <ul class="dropdown-menu dropdown-menu-left" role="menu">
                {% for categoria in tempos %}
                  {% if categoria.get_filhas %}
                    <li class="dropdown-submenu">
                    <a href="{% url 'musicas-de' categoria.slug %}">{{ categoria.nome }}</a>
                    <ul class="dropdown-menu" role="menu">
                      {% for categoria_sub1 in categoria.get_filhas %}
                        <li><a href="{% url 'musicas-de' categoria_sub1.slug %}">{{ categoria_sub1.nome }}</a></li>
                      {% endfor %}
                    </ul>
                  </li>
                  {% else %}
                  <li><a href="{% url 'musicas-de' categoria.slug %}">{{ categoria.nome }}</a></li>
                  {% endif %}
                {% endfor %}
                </ul>
              </li>

              <!-- SUGESTÕES ESPECIAIS -->
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sugestões especiais</a>
                <ul class="dropdown-menu dropdown-menu-left" role="menu">
                {% for categoria in especiais %}
                  {% if categoria.get_filhas %}
                    <li class="dropdown-submenu">
                    <a href="{% url 'musicas-de' categoria.slug %}">{{ categoria.nome }}</a>
                    <ul class="dropdown-menu" role="menu">
                      {% for categoria_sub1 in categoria.get_filhas %}
                        <li><a href="{% url 'musicas-de' categoria_sub1.slug %}">{{ categoria_sub1.nome }}</a></li>
                      {% endfor %}
                    </ul>
                  </li>
                  {% else %}
                  <li><a href="{% url 'musicas-de' categoria.slug %}">{{ categoria.nome }}</a></li>
                  {% endif %}
                {% endfor %}
                </ul>
              </li>

              <!-- SUGESTÕES POR DATA -->
              <li class="li-mega-menu dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                  Qual o dia da missa?
                </a>
                <div class="wrapper-mega-menu v2 stop-prop" role="menu">
                  <div class="mega-menu">
                    <div class="container">
                      <div class="wrapper-row">
                        <div class="row">
                          <div class="col-sm-2 col-md-3">
                            <h3 class="title-sm hr-full">Escolha o dia da missa</h3>
                            <div id="calendar-navbar"></div>
                          </div>
                          <div class="col-sm-1 col-md-3">
                            <h3 class="title-sm hr-full">Próximas semanas</h3>
                            <div class="post-xs-side">
                              <img class="img-responsive" src="assets/images/placeholder/80x80.gif" alt="theme-img">
                              <a href="#" class="category"></a>
                              <p class="title hidden-sm">Lorem ipsum dolor amet</p>
                              <p class="meta hidden-md hidden-sm">January 1, 2014</p>
                            </div>
                            <div class="post-xs-side">
                              <img class="img-responsive img-thumb" src="assets/images/placeholder/80x80.gif" alt="theme-img">
                              <a href="#" class="category">VIDEO</a>
                              <p class="title hidden-sm">Lorem ipsum dolor amet</p>
                              <p class="meta hidden-md hidden-sm">January 1, 2014</p>
                            </div>
                            <div class="post-xs-side">
                              <img class="img-responsive img-thumb" src="assets/images/placeholder/80x80.gif" alt="theme-img">
                              <a href="#" class="category">MOVIE</a>
                              <p class="title hidden-sm">Lorem ipsum dolor amet</p>
                              <p class="meta hidden-md hidden-sm">January 1, 2014</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>




              <!-- BLOG -->
              <!--<li class="dropdown dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Blog</a>
                <ul class="dropdown-menu dropdown-menu-left" role="menu">
                    BLOG
                </ul>
              </li>-->


              <li class="li-search">
                <form class="nav-search">
                  <label for="focus-input"><i class="fa fa-search"></i></label>
                  <input id="focus-input" class="container" type="search" name="s" placeholder="Digite o que procura e tecle ENTER!">
                </form>
              </li>

            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
    </div>
    <!-- NAVBAR END -->
