{% load staticfiles %}
<!-- NAVBAR -->
    <!--===============================================================-->
    <div id="header">
      <nav id="nav" class="navbar navbar-default navbar-fixed-top">

        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img class="img-responsive" src="{% static 'images/logo/logoMpM-300x223.png' %}" alt="theme-img"></a>
          </div>


          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">

              <!-- PARTES COMUNS DA MISSA -->
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">PARTES COMUNS DA MISSA</a>
                  <ul class="dropdown-menu dropdown-menu-left" role="menu">
                  {% for categoria in partesComuns %}
                    <li><a href="{% url 'musicas-de' categoria.slug %}">{{ categoria.nome }}</a></li>
                  {% endfor %}
                  </ul>
                </li>


            <!-- TEMPOS LITÚRGICOS -->
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Tempos Litúrgicos</a>
                <ul class="dropdown-menu dropdown-menu-left" role="menu">
                {% for categoria in tempos %}
                  <li><a href="{% url 'musicas-de' categoria.slug %}">{{ categoria.nome }}</a></li>
                {% endfor %}
                </ul>
              </li>

              <!-- SUGESTÕES SOLENIDADES E FESTAS -->
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">SOLENIDADES E FESTAS</a>
                <ul class="dropdown-menu dropdown-menu-left" role="menu">
                {% for categoria in solenidadesEFestas %}
                  <li><a href="{% url 'musicas-de' categoria.slug %}">{{ categoria.nome }}</a></li>
                {% endfor %}
                </ul>
              </li>

              <!-- SUGESTÕES OUTRAS MISSAS -->
              <li>
                <a href="{% url 'musicas-de' 'outras-missas' %}" role="button">OUTRAS MISSAS</a>
              </li>

              <!-- SUGESTÕES POR DATA -->
<!--              <li class="li-mega-menu dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                  Qual o dia da missa?
                </a>
                <div class="wrapper-mega-menu v2 stop-prop" role="menu">
                  <div class="mega-menu">
                    <div class="container">
                      <div class="wrapper-row">
                        <div class="row">
                          <div class="col-sm-3 col-md-3">
                            <h3 class="title-sm hr-full">Escolha o dia da missa</h3>
                            <center><div id="calendar-navbar"></div></center>
                          </div>
                          <div class="col-sm-3 col-md-9">
                            <h3 class="title-sm hr-full">Missas em destaque</h3>
                            <div class="row">
                              <div class="col-md-4">
                                <div class="text-theme">
                                  <a href="{{destaques.0.liturgia.get_absolute_url }}"><img class="img-responsive" src="{% static destaques.0.liturgia.get_img_url %}" alt="theme-img"></a>
                                  <a href="{{destaques.0.liturgia.get_absolute_url }}" class="category">{{ destaques.0.liturgia.titulo }}</a>
                                  <p class="meta hidden-md hidden-sm">{{ destaques.0.data }}</p>
                                </div>
                              </div>
                              <div class="col-md-4">
                                {% if destaques.1 %}
                                <div class="post-xs-side">
                                  <a href="{{destaques.1.liturgia.get_absolute_url }}"><img class="img-responsive" src="{% static destaques.1.liturgia.get_img_80x80_url %}" alt="theme-img"></a>
                                    <a href="{{destaques.1.liturgia.get_absolute_url }}" class="category">{{ destaques.1.liturgia.titulo }}</a>
                                    <p class="meta hidden-md hidden-sm">{{ destaques.1.data }}</p>
                                </div>
                                {% endif %}
                                {% if destaques.2 %}
                                <div class="post-xs-side">
                                  <a href="{{destaques.2.liturgia.get_absolute_url }}"><img class="img-responsive" src="{% static destaques.2.liturgia.get_img_80x80_url %}" alt="theme-img"></a>
                                    <a href="{{destaques.2.liturgia.get_absolute_url }}" class="category">{{ destaques.2.liturgia.titulo }}</a>
                                    <p class="meta hidden-md hidden-sm">{{ destaques.2.data }}</p>
                                </div>
                                {% endif %}
                              </div>
                              <div class="col-md-4">
                                {% if destaques.3 %}
                                <div class="post-xs-side">
                                  <a href="{{destaques.3.liturgia.get_absolute_url }}"><img class="img-responsive" src="{% static destaques.3.liturgia.get_img_80x80_url %}" alt="theme-img"></a>
                                    <a href="{{destaques.3.liturgia.get_absolute_url }}" class="category">{{ destaques.3.liturgia.titulo }}</a>
                                    <p class="meta hidden-md hidden-sm">{{ destaques.3.data }}</p>
                                </div>
                                {% endif %}
                                {% if destaques.4 %}
                                <div class="post-xs-side">
                                  <a href="{{destaques.4.liturgia.get_absolute_url }}"><img class="img-responsive" src="{% static destaques.4.liturgia.get_img_80x80_url %}" alt="theme-img"></a>
                                    <a href="{{destaques.4.liturgia.get_absolute_url }}" class="category">{{ destaques.4.liturgia.titulo }}</a>
                                    <p class="meta hidden-md hidden-sm">{{ destaques.4.data }}</p>
                                </div>
                                {% endif %}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
-->



              <!-- BLOG -->
              <!--<li class="dropdown dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Blog</a>
                <ul class="dropdown-menu dropdown-menu-left" role="menu">
                    BLOG
                </ul>
              </li>-->

              {% include 'search-field.html' %}

            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
    </div>
    <!-- NAVBAR END -->
