<!--#####1#####<div class="menu-top menu-top-inverse" style="background-color: #6e747b;">-->
<div class="menu-top menu-top-inverse" style="background-color: #e3e3e5;">
  <div class="container">
    <div class="row">
      <div class="rf-player player-12">
        <div class="rf-width-control" style="width: 1100px">
          <div class="rf-padding-control">
            <div class="rf-player-container">
              <div id="rf-player-container">
                <div id="rf-player-play" class="rf-player-play-pause rf-player-play active"></div>
                <div id="rf-player-pause" class="rf-player-play-pause rf-player-pause"></div>
                <div class="rf-player-volume rf-player-volume-background"></div>
                <div id="rf-player-volume-meter" class="rf-player-volume rf-player-volume-meter"></div>
                <div id="rf-player-volume-area" class="rf-player-volume rf-player-volume-area"></div>
                <audio id="rf-player" style="width: 0; height: 0;">
                  <source></source>
                </audio>
              </div>
            </div>
            <a class="rf-facebook" title="Compartilhar no facebook" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fmusicasparamissa.com.br" target="_blank"><img src="https://s3-sa-east-1.amazonaws.com/radiofacil-assets/compressed/img/website/social/facebook.png?_t=7e6b12de09f7cec18c5ffbdf1adce1a9" /></a>
            <a class="rf-twitter" title="Compartilhar no twitter" href="https://twitter.com/intent/tweet?source=tweetbutton&text=Estou+ouvindo+a+r%C3%A1dio+&url=http://musicasparamissa.com.br" target="_blank"><img src="https://s3-sa-east-1.amazonaws.com/radiofacil-assets/compressed/img/website/social/twitter.png?_t=7e6b12de09f7cec18c5ffbdf1adce1a9" /></a>
            <div class="rf-playing-now"></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
