{% load compress %}
<!--#####1#####<div class="menu-top menu-top-inverse" style="background-color: #6e747b;">-->
<div class="menu-top menu-top-inverse" style="background-color: #e3e3e5;">
  <div class="container">
    <div class="row">

      {% compress js %}
      <script>
          var STREAMING_ADDRESS = "http://streaming17.brlogic.com:8180/live";
          var STREAMING_PORT = "8180";
          var STREAMING_ADDRESS_ONLY = "streaming17.brlogic.com";
          var STREAMING_TYPE = "audio/mpeg";
          var NEXT_SCHEDULES = {"65915":{"id":"65915","schedule":"Ouvindo as melhores m\u00fasicas cat\u00f3licas com Site \"M\u00fasicas para Missa\" das 00:00 \u00e0s 23:59","start":38426,"end":124766},"65914":{"id":65914,"schedule":"Ouvindo as melhores m\u00fasicas cat\u00f3licas com Site \"M\u00fasicas para Missa\" das 00:00 \u00e0s 23:59","start":0,"end":38366}};
          var PLAYER_AUTH_HASH = "ad785f967e9b312626bcfd813dfa66d3";
          var PLAYER_ID = "1";
          var PLAYER_AUTOSTART = false;
          var PLAYER_SHOW_MUSIC_NAME = false;
          var BRLOGIC_STREAMING = true;
          var USE_PLAYER = true;
          var USE_PLAYER_PROXY = false;
      </script>
      {% endcompress %}
      <div class="rf-player player-12">
        <div class="rf-width-control" style="width: 1100px">
          <div class="rf-padding-control">
            <div class="rf-player-container">
              <div id="rf-player-container">
                <div id="rf-player-play" class="rf-player-play-pause rf-player-play active"></div>
                <div id="rf-player-pause" class="rf-player-play-pause rf-player-pause"></div>
                <div class="rf-player-volume rf-player-volume-background"></div>
                <div id="rf-player-volume-meter" class="rf-player-volume rf-player-volume-meter"></div>
                <div id="rf-player-volume-area" class="rf-player-volume rf-player-volume-area"></div>
                <audio id="rf-player" style="width: 0; height: 0;">
                  <source></source>
                </audio>
              </div>
            </div>
            <a class="rf-facebook" title="Compartilhar no facebook" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fmusicasparamissa.com.br" target="_blank"><img src="https://s3-sa-east-1.amazonaws.com/radiofacil-assets/compressed/img/website/social/facebook.png?_t=7e6b12de09f7cec18c5ffbdf1adce1a9" /></a>
            <a class="rf-twitter" title="Compartilhar no twitter" href="https://twitter.com/intent/tweet?source=tweetbutton&text=Estou+ouvindo+a+r%C3%A1dio+&url=http://musicasparamissa.com.br" target="_blank"><img src="https://s3-sa-east-1.amazonaws.com/radiofacil-assets/compressed/img/website/social/twitter.png?_t=7e6b12de09f7cec18c5ffbdf1adce1a9" /></a>
            <div class="rf-playing-now"></div>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>
