{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>

	<title>Músicas para Missa - O site do músico servo do Senhor!</title>

	{% include 'header.html' %}

</head>

<body class="body-nav-fixed-menu-top">
  <div class="wrapper-body">

		{% include 'navbar.html' %}

		<div class="container" style="padding-top:50px">
		  <div class="row">
			  <script>
					(function() {
						var cx = '015019343761254316434:icocp0vwhke';
						var gcse = document.createElement('script');
						gcse.type = 'text/javascript';
						gcse.async = true;
						gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
						var s = document.getElementsByTagName('script')[0];
						s.parentNode.insertBefore(gcse, s);
					})();
				</script>
				<gcse:searchresults-only></gcse:searchresults-only>
			</div>
		</div>

	</div>

	{% include 'footer.html' %}

</body>
