{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>

	<title>Músicas para Missa - O site do músico servo do Senhor!</title>

	{% include 'header.html' %}

</head>

<body class="body-nav-fixed-menu-top">
  <div class="wrapper-body">

		{% include 'navbar.html' %}

		<div style="padding-top:50px;">
    	{% include 'banner-top.html' %}
		</div>


		{% if categorias %}
		<h2>Categorias encontradas</h2>
		<ul>
		{% for cat in categorias %}
			<a href="{% url 'musicas-de' cat.slug %}">
		    <h4><li>{{ cat.nome }}</li></h4>
				<p>{{ cat.descricao }}</p>
			</a>
		{% endfor %}
		</ul>
		{% endif %}



		{% if musicas %}
		<h2>Músicas encontradas</h2>
		<ul>
		{% for mus in musicas %}
			<a href="{% url 'musica' mus.slug %}">
		    <h4><li>{{ mus.nome }}</li></h4>
				<p>{{ mus.get_inicio }}</p>
			</a>
		{% endfor %}
		</ul>
		{% endif %}




	</div>

	{% include 'footer.html' %}

</body>
