<!-- GRID SIDEBAR -->
<!--===============================================================-->
<div class="col-sm-4 grid-sidebar">
  <div class="row-heading row-heading-mt-40">
    <div class="col-sm-12">
      <h3 class="title-sm text-uppercase hr-left text-theme">Sugestões por e-mail</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p class="lead text-theme">Inscreva-se para receber sugestões de músicas por e-mail</p>
      <div class="input-group text-theme">
        <input type="text" class="form-control input-lg" placeholder="Nome">
      </div>
      <div class="input-group text-theme">
        <input type="text" class="form-control input-lg" placeholder="E-mail">
      </div>
      <div class="input-group text-theme">
        <span class="input-group-btn">
          <button type="button" class="btn btn-primary input-lg btn-z-index"><i class="fa fa-paper-plane"></i>Quero receber as sugestões</button>
        </span>
      </div>
    </div>
  </div>
</div>
<!-- SIDEBAR END -->
<!--===============================================================-->