option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "pympm.settings"
    PYTHONPATH: "/opt/python/current/app/pympm:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "pympm/wsgi.py"
    StaticFiles: /static/=static/
container_commands:
  01_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true
