option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "pympm.settings"
    PYTHONPATH: "/opt/python/current/app/pympm:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "pympm/wsgi.py"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/"
  "aws:autoscaling:launchconfiguration":
    "InstanceType": "t2.nano"
container_commands:
  01_migrate:
    command: "python manage.py migrate"
    leader_only: true
  02_setTimeZone:
    command: "ln -f -s /usr/share/zoneinfo/Brazil/Sao_Paulo /etc/localtime"
