option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "pympm.settings"
    PYTHONPATH: "/opt/python/current/app/pympm:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "pympm/wsgi.py"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/"
  "aws:autoscaling:launchconfiguration":
    InstanceType: "t2.nano"
container_commands:
  collectstatic:
    command: "python manage.py collectstatic --noinput"
  01_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true
