{% load staticfiles %}
<!doctype html>
<html>
  <head>
    <title>MpM - Admin</title>
    <base href="{% static 'mpmadmin/' %}">
    <link rel="stylesheet" href="{% static 'mpmadmin/css/style.css' %}">
  </head>
  <body>

    <my-app>
      Loading...
    </my-app>

    <script src="{% static 'mpmadmin/libs/angular2-polyfills.js' %}"></script>
    <script src="{% static 'mpmadmin/libs/system.js' %}"></script>
    <script src="{% static 'mpmadmin/libs/typescript.js' %}"></script>
    <script src="{% static 'mpmadmin/libs/Rx.js' %}"></script>
    <script src="{% static 'mpmadmin/libs/angular2.dev.js' %}"></script>
    <script src="{% static 'mpmadmin/libs/router.dev.js' %}"></script>
    <script>
      System.config({
        transpiler: 'typescript',
        typescriptOptions: {
          emitDecoratorMetadata: true
        },
        map: {
          app: './js'
        },
        packages: {
          app: {
            main: './main.ts',
            defaultExtension: 'ts'
          }
        }
      });
      System
        .import('app')
        .catch(console.error.bind(console));
    </script>
  </body>
</html>
